html, body:not(.welcome) {
	height: 100%;
	background-color: #f5f5f5;
}

.welcome {
	background-image: url("media/welcome.png"), url("media/welcome-repeat.png");
	background-repeat: no-repeat, repeat-x;
	background-position: center 60px, calc(50% + 160px) 60px;
}

#welcome {
	position: relative;
	height: 800px;
}

#welcome .bold {
	margin-top: 350px;
}

#welcome .brown-text {
	position: absolute;
	bottom: 0;
	left: 0.75rem;
}

#content {
	min-height: 75%;
}

.full-width {
	position: absolute;
	left: 0;
	right: 0;
}

.parallax-container {
	height: 300px;
}

.parallax-container + .row {
	padding-top: 320px;
}

.space {
	height: 26px;
}

.img-right {
	display: block;
	margin-left: auto;
}

nav {
    background-color: #5b1f1e;
}

.browny {
	color: #5b1f1e;
}

.orangey {
	color: #ff844c;
}

h3 {
    text-align: center;
}

a {
	cursor: pointer;
}

.tabs {
	height: 0px;
}

.container .row {
	margin-left: 0;
	margin-right: 0;
}

.card-image .row {
	margin-bottom: 0;
}

.card-image .col {
	padding: 0;
}

#youtube {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	width: 100%;
}

#demo-icons .row {
	margin-top: 80px;
}

li ol {
	list-style-type: lower-alpha;
}

#fullscreen {
	position: absolute;
	max-height: 100%;
	top: 0 !important;
	bottom: 0;
}

.card.horizontal video {
    border-top-left-radius: 3px;
}

img:not(.materialboxed):not(#map) {
    width: 480px;
}

/* Large Screen Sizes */
@media only screen and (min-width: 993px) {
	#forgot-password {
		width: 30%;
	}

    .mid-vertical {
        display: table;
        height: 480px;
    }

    .mid-vertical span {
        display: table-cell;
        vertical-align: middle;
    }
    
    .card.horizontal a {
        height: auto;
        margin-top: 150px;
    }
}

/* Medium and Small Screen Sizes */
@media only screen and (max-width: 992px) {
    .mid-vertical span {
        text-align: center;
    }
    
    .mid-vertical {
        margin-bottom: 48px;
        margin-top: -12px
    }
    
	.card.horizontal {
		display: block;
        width: 310px;
        margin: auto;
	}
    
    .card.horizontal video {
        border-top-right-radius: 3px;
    }
    
    img:not(.materialboxed) {
        display: block;
        margin: auto;
    }
}

.mid-vertical span * {
	font-weight: 300;
}

.input-field input[name=gender] + label i {
    margin-top: -12px;
    margin-left: 8px;
}

.autocomplete-content {
	position: absolute;
	width: calc(100% - 4.5rem) !important;
}

.subtitle {
	font-weight: 300;
	font-size: 18px;
	margin-left: -10px !important;
}

.white-text a {
	color: white;
}

.card-panel h5 {
	line-height: 150%;
}

.maptooltip {
	margin-top: 200px;
}

.maptooltip .phase1 {
	background-color: rgba(27, 94, 32, 0.9) !important;
}

.maptooltip .phase2 {
	background-color: rgba(26, 35, 126, 0.9) !important;
}

.maptooltip .phase3 {
	background-color: rgba(191, 54, 12, 0.9) !important;
}

.maptooltip .phase4 {
	background-color: rgba(62, 39, 35, 0.9) !important;
}

.collapsible .collapsible-header {
	padding: 16px 32px;
	border-bottom: 0;
	font-weight: 300;
	font-size: 20px;
	color: white;
}

.collapsible li:first-of-type,
.collapsible li.active, .collapsible li.active + li,
.collapsible li:first-of-type .collapsible-header,
.collapsible li.active .collapsible-header,
.collapsible li.active + li .collapsible-header {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.collapsible .collapsible-body {
	background-color: white;
	line-height: 28px;
	color: #424242;
	font-size: 16px;
}

.previous-header, .collapsible li.active,
.collapsible li:last-of-type:not(.active),
.previous-header .collapsible-header,
.collapsible li.active .collapsible-body,
.collapsible li:last-of-type:not(.active) .collapsible-header {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.btn-flat {
	height: 42px;
	line-height: 42px;
	margin-top: 4px;
}