body {
	background-color: #f5f5f5;
}

nav {
    background-color: #0069ff;
}

h3 {
    text-align: center;
}

a {
	cursor: pointer;
}

.tabs {
	height: 0px;
}

.row .col.m9 {
    width: 75%;
    margin-left: auto;
    left: auto;
    right: auto;
}
.container .row {
	margin-left: 0;
	margin-right: 0;
}
img{
    float:left;
}

#demo-icons .row {
	margin-top: 80px;
}

li ol {
	list-style-type: lower-alpha;
}

#fullscreen {
	position: absolute;
	max-height: 100%;
	width: 656px;
	top: 0 !important;
	bottom: 0;
}

#fullscreen iframe {
	width: 100%;
	height: calc(100% - 48px);
}

@media only screen and (min-width: 993px) {
	#forgot-password {
		width: 30%;
	}
}
/* label focus color */
.input-field input[type]:focus + label,
.input-field .prefix.active {
	color: #2196f3;
}
/* label underline focus color */
.input-field input[type]:focus {
	border-bottom-color: #2196f3;
	box-shadow: 0 1px 0 0 #2196f3;
}

input[type=checkbox]:checked + label:before {
	border-bottom-color: #2196f3;
	border-right-color: #2196f3;
}

input[type=radio]:checked + label:after {
	background-color: #2196f3;
    border-color: #2196f3;
}

.input-field input[name=gender] + label i {
    margin-top: -12px;
    margin-left: 8px;
}

.autocomplete-content {
	position: absolute;
	width: calc(100% - 4.5rem) !important;
}

.dropdown-content li > a, .dropdown-content li > span {
    color: #2196f3;
}

.external-link {
	font-weight: 300;
	font-size: 18px;
	margin-left: -10px !important;
}

.white-text a {
	color: white;
}

.card-panel h5 {
	line-height: 150%;
}

#fimage
{ display: block}

dt
{
    font-weight: bold;
}

.img-circle {
    
    float: left;
    width: 33%;
    border-radius: 50%;
}

ul.sp li
{
    font-size: 21;
    font-family:fantasy;
    padding: 20px;
}



p.sp
{
   font-size: 24;
    font-family:fantasy; 
}

section.support li
{
    text-align: justify;
    margin-bottom: 20;
    margin-top: 45;
}

section.features #f1,#f2,#f3
{
    text-align: center;
    margin-bottom: 50;
    display:block;
}

section.tech p img, section.features img
{
    margin: auto;
    display:block;
    vertical-align: text-top;
}

section.support img
{
    margin-right: 20;
    display: inline-block;
}

section.tech p
{
    font-size: 18;
}

section.ar dd
{
    margin-bottom: 50;
}

section.ar dt
{
    margin-top: 50;
}

heading
{
    font-size: 35;
    font-family: cursive;
    text-align: center;
    display: block;
}

#homepic
{
    display: block;
    align-content: center;
    margin: 30 20 30 20;
}

p.homep
{
    font-size: 20;
    font-family:cursive;
    text-align: center;
}

.pic
{   
    float: left;
    margin-right: 200px;
}

body
{
    background-color:fuchsia;
}